<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SHOP ALL
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">BY PRICE</a>
                <a href="" class="dropdown-item ">BY RATING</a>
                <a href="" class="dropdown-item ">BY CATEGORY</a>
                <a href="{% url 'products' %}" class="dropdown-item">ALL PRODUCTS</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                MAKEUP
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">FACE</a>
                <a href="" class="dropdown-item">EYES</a>
                <a href="" class="dropdown-item">LIPS</a>
                <a href="" class="dropdown-item">TOOLS &amp; ACCESSORIES</a>
                <a href="" class="dropdown-item">ALL MAKEUP</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SKIN CARE
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">FACE CARE</a>
                <a href="" class="dropdown-item">EYE &amp; LIP CARE</a>
                <a href="" class="dropdown-item">SUN CARE</a>
                <a href="" class="dropdown-item">ALL SKINCARE</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SPECIAL OFFERS
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">NEW ARRIVALS</a>
                <a href="" class="dropdown-item">DEALS</a>
                <a href="" class="dropdown-item">CLEARANCE</a>
                <a href="" class="dropdown-item">ALL SPECIALS</a>
            </div>
        </li>
    </ul>
</div>